* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 18px;
}

iframe {
  width: 100%;
  min-height: 800px;
}

.radios {
  margin-bottom: 15px;
}

.radios input[type='radio'] {
    left: -99999px;
    position: absolute;
}

.radios input[type='radio'] + label {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

.radios input[type='radio']:checked + label {
    background-color: lightgray;
}
